body{
  background-color: white;
}
input{
  margin-top: 10px;;
  background-color: white;
  color: black;
  width: 100%;
  border: 2px solid whitesmoke;
  border-radius: 14px;
  height: 100px;
  font-size: larger;
  text-align: right;
}
.calculator{
  width: 700px;
  height: 430px;
  margin-left: 330px;
  margin-top: 100px;
  background-color: white;
  font-size: 22px;
  font-weight:bolder;
}
.buttonWidth{
  width: 100px;
  display: inline;
}
.buttonWidths{
  width: 100px;
  display: inline;
  background-color: #f0f3f4;
}
.buttonWidthss{
  width: 100px;
  display: inline;
  color: white;
  background-color: #4285f3;
  border: 2px solid #4285f3;
}
button{
  margin: 6px;
  width: 20%;
  height: 50px;
  border: 3px solid white;
  border-radius: 10px;
  color: black;
  font-weight:bold;font-size: large;
  background-color: #d9dde0;
}